/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.bg-resources {
  background-color: #afeeee
}

body, html {
  height: 100%;
  background-color: #e9ebee
}

.container.fill, .jumbotron {
  background-color: #fff
}

@media only screen and (max-device-width: 480px) {

  h1, h4 {
      font-size: 1.5rem !important;
  }

  h3 {
      font-size: 1.2em !important;
  }

  .d-flex.justify-content-between {
      display: inline-block !important;
      width: 100% !important;
  }

  .w-45 {
      width: 100% !important;
  }

  .card-buttons {
      position: static !important;
  }

  #registerForm, #loginForm {
      width: 100% !important;
  }
}