/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body, html {
  height: 100%;
  background-color: #e9ebee
}

.container.fill, .jumbotron {
  background-color: #fff
}

h1, h5 {
  margin: 5px auto;
  padding: 3.5px;
  font-weight: bold;
  color: #147a9e !important;
  font-family: Song Myung,Helvetica,Arial,sans-serif;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.table td.center {
  text-align: center;   
}

@media only screen and (max-device-width: 770px) {

  h1, h4, p {
      font-size: 1.5rem !important;
  }

  h3, a {
      font-size: 1em !important;
  }

  .loader {
    margin: auto;
}

  .d-flex.justify-content-between {
      display: inline-block !important;
      width: 100% !important;
  }

  .w-45 {
      width: 100% !important;
  }

  .card-buttons {
      position: static !important;
  }

  #registerForm, #loginForm {
      width: 100% !important;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
